.center_title {
    color: white;
}

.add_users_button{
    

    background: #e50813;
    outline: none;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
    

.add_users {
    margin-left: 790px;

}