/* Table.css */
.table-container {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 2px solid red; /* Red border, but make it rounded */
  }
  
  .table-container th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black; /* Black lines */
    color:black;
  }
  
  .table-container th {
    background-color: #f2f2f2; /* Light gray background for headers */
  }

  .table-container button {
    color: black;
    background-color: transparent;
  }
  