ul li ul.dropdown li {
    display: block;
    background: red;
    margin: 1px 0px;
  }
  
  ul li ul.dropdown {
    width: 200px;
    position: absolute;
    display: none;
  }
  
  ul li i.fa-user {
    font-size: 18px; 
    margin-right: 5px; 
  }
  
  ul li:hover ul.dropdown {
    display: block;
  }
