div.dropdown ul li {
  display: block;
  background: red;
  margin: 2px 0px;
  padding: 0px 20px;
}

div.dropdown ul {
  width: auto;
  position: absolute;
  z-index: 999;
  display: none;
}

div.dropdown i.fa-user {
  font-size: 18px; /* Adjust the font size as needed */
  margin-right: 5px; /* Add some spacing to the right of the icon */
}

div.dropdown:hover ul {
  display: block;
}

div.dropdown a:hover {
  background: red;
}
